/* GLOBAL */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* NAVBAR */
nav {
  background: #0a1f44;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.brand {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.nav-links a {
  color: white;
  margin: 0 12px;
  text-decoration: none;
  font-weight: bold;
}

/* HERO */
.hero {
  text-align: center;
  color: white;
}

.hero-overlay {
  background: rgba(0,0,0,0.4);
  padding: 60px 20px;
}

/* BUTTON */
.btn {
  background: #ff6600;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));

}
